<% if @hide_header %>

  <div class="center full container">
    <div id="header_image" class="container">
      <%= image_tag("logo") %>
    </div>
  </div>

  <h1>Macro and Cheese</h1>
  <a id="spaced_a" href="/users/sign_in">Sign in</a>
  <a id="spaced_a" href="/users/sign_up">Sign up</a>
<% else %>
  <%if current_user.try(:vip?) || current_user.try(:admin?) %>
    <div class="container center">
      <h1>Upcoming Events</h1>
      <h2>PVP Night</h2>
      <p>Thursday August 10th, 2017</p>
      <p>9:00 PM EST</p>
      <p>Group Leader: Alpha</p>
    </div>
  <% else %>
    <div class="container center">
      <p>Please request roles to view events (from Alpha)</p>
    </div>
  <% end %>
<% end %>

